<mat-card>
  <mat-card-header>
    <mat-card-title> profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Name: {{profile?.name}}</mat-list-item>
      <mat-list-item role="listitem">Email: {{profile?.email}}</mat-list-item>
      <mat-list-item role="listitem">Description: {{profile?.desc}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title> Posts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <app-messages></app-messages>
  </mat-card-content>
</mat-card>

